@model WebApplication2.Models.Entity.PT_MC_PAL_InputResult

@{
    ViewBag.Title = "Pal 2D";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Graph Pal 2 D</h2>

<form>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                @*@Html.Label("Chemical Name :", htmlAttributes: new { @class = "control-label col-md-8" })*@
                <div class="col-md-10">
                    @*@Html.DropDownListFor(m => m.PART_NO, selectList, "--Select Chemical--", new { @class = "css-class" })*@
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">


                @Html.LabelFor(model => model.START_DATED, htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.START_DATED, new { type = "month" })
                    @Html.ValidationMessageFor(model => model.START_DATED, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="col-sm-4">
            <div class="form-group">
                <div class="col-md-10">
                    <button class="btn btn-primary" type="submit">Refresh</button>
                </div>
            </div>
        </div>
    </div>





</form>





<div>
    <h2>Alchelate</h2>
</div>


<script src="../Scripts/Chart.min.js"></script>

@*<script src="../Scripts/Chart.js"></script>*@

@*<canvas id="myChart"></canvas>*@
<canvas id="myChart"></canvas>
<script>
        //Will JSON Information assigned to JavaScript array
        //Month (1 month~6 month)
        var jsTimeDate = @Html.Raw(ViewBag.jsonTimeDaily);

        //Three cities City,Business
        var jsH = @Html.Raw(ViewBag.jsonH);
        var jsM = @Html.Raw(ViewBag.jsonM);
        var jsL = @Html.Raw(ViewBag.jsonL);


        var ctx = document.getElementById("myChart");
        var chart = new Chart(ctx, {
            type: "line",
            data: {
                //labels: ['1 month', '2 month', '3 month', '4 month', '5 month', '6 month'],
                labels: jsTimeDate,
                datasets: [{
                    label: "Action H",
                    //label: jsBusiness[0].City,

                    fill: false,
                    backgroundColor: 'rgba(255,165,0,0.3)',
                    borderColor: 'rgb(255,135,20)',
                    pointStyle: "circle",
                    pointBackgroundColor: 'rgb(0,222,0)',
                    pointRadius: 5,
                    pointHoverRadius: 10,
                    //data: jsBusiness[0].Business
                    //data: [13.1, 10.2, 13.5, 20.9, 25.2, 27.1, 31.8]
                    data: jsH
                }, {
                    label: "Action M",
                    //label: jsBusiness[1].City,
                    fill: false,
                    backgroundColor: 'rgba(0,255,255,0.3)',
                    borderColor: 'rgb(0,225,255)',
                    pointStyle: "triangle",
                    pointBackgroundColor: 'blue',
                    pointRadius: 5,
                    pointHoverRadius: 10,
                    //data: jsBusiness[1].Business
                    //data: [29.1, 28.3, 22.6, 25.4, 27.5, 23.4]
                    data: jsM

                }, {
                    label: "Action L",
                    //label: jsBusiness[2].City,
                    fill: false,
                    backgroundColor: 'rgba(153,50,204,0.3)',
                    borderColor: 'rgb(123,55,190)',
                    pointStyle: "rect",
                    pointBackgroundColor: 'rgb(220,20,60)',
                    pointRadius: 5,
                    pointHoverRadius: 10,
                    //data: jsBusiness[2].Business
                    //data: [16.6, 17.3, 19.2, 23.8, 12.0, 17.6]
                    data: jsL
                }]
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    fontSize: 25,
                    text: 'Analysis Result line : Pal 2D Alchelate'
                },
                tooltips: {
                    mode: 'point',
                    intersect: true,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Monthly',
                            fontSize: 15
                        },
                        ticks: {
                            fontSize: 10
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: '0.4-0.8 N',
                            fontSize: 12
                        },
                        ticks: {
                            fontSize: 10,
                            max: 0.8,
                            min: 0.4,
                            stepSize: 0.1

                        }
                    }]
                },
                animation: {
                    duration: 2000
                }
            }
        });

</script>
@*}

    </div>*@





@*<style>
        #Table {
            width: auto;
            height: auto;
            overflow-y: scroll;
            overflow-x: scroll;
        }
    </style>*@

<div>
    <h2>Copper</h2>
</div>
@*<div id="Table">
    @{*@

<script src="../Scripts/Chart.min.js"></script>

@*<canvas id="myChart2"></canvas>*@

<canvas id="myChart2"></canvas>

@*<canvas id="myChart2" height:"40vh" width:"80vw"></canvas>*@
<script>
        //Will JSON Information assigned to JavaScript array
        //Month (1 month~6 month)
        var jsTimeDate = @Html.Raw(ViewBag.jsonTimeDailyCopper);

        //Three cities City,Business
        var jsH = @Html.Raw(ViewBag.jsonHCopper);
        var jsM = @Html.Raw(ViewBag.jsonMCopper);
        var jsL = @Html.Raw(ViewBag.jsonLCopper);


        var ctx = document.getElementById("myChart2");
        var chart = new Chart(ctx, {
            type: "line",
            data: {
                //labels: ['1 month', '2 month', '3 month', '4 month', '5 month', '6 month'],
                labels: jsTimeDate,
                datasets: [{
                    label: "Action H",
                    //label: jsBusiness[0].City,

                    fill: false,
                    backgroundColor: 'rgba(255,165,0,0.3)',
                    borderColor: 'rgb(255,135,20)',
                    pointStyle: "circle",
                    pointBackgroundColor: 'rgb(0,222,0)',
                    pointRadius: 3,
                    pointHoverRadius: 7,
                    //data: jsBusiness[0].Business
                    //data: [13.1, 10.2, 13.5, 20.9, 25.2, 27.1, 31.8]
                    data: jsH
                }, {
                    label: "Action M",
                    //label: jsBusiness[1].City,
                    fill: false,
                    backgroundColor: 'rgba(0,255,255,0.3)',
                    borderColor: 'rgb(0,225,255)',
                    pointStyle: "triangle",
                    pointBackgroundColor: 'blue',
                    pointRadius: 3,
                    pointHoverRadius: 7,
                    //data: jsBusiness[1].Business
                    //data: [29.1, 28.3, 22.6, 25.4, 27.5, 23.4]
                    data: jsM

                }, {
                    label: "Action L",
                    //label: jsBusiness[2].City,
                    fill: false,
                    backgroundColor: 'rgba(153,50,204,0.3)',
                    borderColor: 'rgb(123,55,190)',
                    pointStyle: "rect",
                    pointBackgroundColor: 'rgb(220,20,60)',
                    pointRadius: 3,
                    pointHoverRadius: 7,
                    //data: jsBusiness[2].Business
                    //data: [16.6, 17.3, 19.2, 23.8, 12.0, 17.6]
                    data: jsL
                }]
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    fontSize: 25,
                    text: 'Analysis Result line : Pal 2D Copper'
                },
                tooltips: {
                    mode: 'point',
                    intersect: true,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Monthly',
                            fontSize: 15
                        },
                        ticks: {
                            fontSize: 5
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: '( 105-115 g/L )',
                            fontSize: 12
                        },
                        ticks: {
                            fontSize: 10,
                            max: 115,
                            min: 105,
                            stepSize: 2.5

                        }
                    }]
                },
                animation: {
                    duration: 2000
                }
            }
        });

</script>
@*}

    </div>*@
<div>
    <h2>Sulfuric acid</h2>
</div>
<script src="../Scripts/Chart.min.js"></script>

<canvas id="myChart3" width="1024"></canvas>

<script>


        //Will JSON Information assigned to JavaScript array
        //Month (1 month~6 month)
        var jsTimeDate = @Html.Raw(ViewBag.jsonTimeDailySulfuric);

        //Three cities City,Business
        var jsH = @Html.Raw(ViewBag.jsonHSulfuric);
        var jsM = @Html.Raw(ViewBag.jsonMSulfuric);
        var jsL = @Html.Raw(ViewBag.jsonLSulfuric);


        var ctx = document.getElementById("myChart3");
        var chart = new Chart(ctx, {
            type: "line",
            data: {
                //labels: ['1 month', '2 month', '3 month', '4 month', '5 month', '6 month'],
                labels: jsTimeDate,
                datasets: [{
                    label: "Action H",
                    //label: jsBusiness[0].City,

                    fill: false,
                    backgroundColor: 'rgba(255,165,0,0.3)',
                    borderColor: 'rgb(255,135,20)',
                    pointStyle: "circle",
                    pointBackgroundColor: 'rgb(0,222,0)',
                    pointRadius: 3,
                    pointHoverRadius: 7,
                    //data: jsBusiness[0].Business
                    //data: [13.1, 10.2, 13.5, 20.9, 25.2, 27.1, 31.8]
                    data: jsH
                }, {
                    label: "Action M",
                    //label: jsBusiness[1].City,
                    fill: false,
                    backgroundColor: 'rgba(0,255,255,0.3)',
                    borderColor: 'rgb(0,225,255)',
                    pointStyle: "triangle",
                    pointBackgroundColor: 'blue',
                    pointRadius: 3,
                    pointHoverRadius: 7,
                    //data: jsBusiness[1].Business
                    //data: [29.1, 28.3, 22.6, 25.4, 27.5, 23.4]
                    data: jsM

                }, {
                    label: "Action L",
                    //label: jsBusiness[2].City,
                    fill: false,
                    backgroundColor: 'rgba(153,50,204,0.3)',
                    borderColor: 'rgb(123,55,190)',
                    pointStyle: "rect",
                    pointBackgroundColor: 'rgb(220,20,60)',
                    pointRadius: 3,
                    pointHoverRadius: 7,
                    //data: jsBusiness[2].Business
                    //data: [16.6, 17.3, 19.2, 23.8, 12.0, 17.6]
                    data: jsL
                }]
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    fontSize: 25,
                    text: 'Analysis Result line : Pal 2D Sulfuric acid'
                },
                tooltips: {
                    mode: 'point',
                    intersect: true,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Monthly',
                            fontSize: 15
                        },
                        ticks: {
                            fontSize: 5
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: '185-195 g/L',
                            fontSize: 12
                        },
                        ticks: {
                            fontSize: 10,
                            max: 195,
                            min: 185,
                            stepSize: 2.5

                        }
                    }]
                },
                animation: {
                    duration: 2000
                }
            }
        });

</script>

<div>
    <h2>Chloride</h2>
</div>
<script src="../Scripts/Chart.min.js"></script>

<canvas id="myChart4" width="1024"></canvas>

<script>


        //Will JSON Information assigned to JavaScript array
        //Month (1 month~6 month)
        var jsTimeDate = @Html.Raw(ViewBag.jsonTimeDailyChloride);

        //Three cities City,Business
        var jsH = @Html.Raw(ViewBag.jsonHChloride);
        var jsM = @Html.Raw(ViewBag.jsonMChloride);
        var jsL = @Html.Raw(ViewBag.jsonLChloride);


        var ctx = document.getElementById("myChart4");
        var chart = new Chart(ctx, {
            type: "line",
            data: {
                //labels: ['1 month', '2 month', '3 month', '4 month', '5 month', '6 month'],
                labels: jsTimeDate,
                datasets: [{
                    label: "Action H",
                    //label: jsBusiness[0].City,

                    fill: false,
                    backgroundColor: 'rgba(255,165,0,0.3)',
                    borderColor: 'rgb(255,135,20)',
                    pointStyle: "circle",
                    pointBackgroundColor: 'rgb(0,222,0)',
                    pointRadius: 3,
                    pointHoverRadius: 7,
                    //data: jsBusiness[0].Business
                    //data: [13.1, 10.2, 13.5, 20.9, 25.2, 27.1, 31.8]
                    data: jsH
                }, {
                    label: "Action M",
                    //label: jsBusiness[1].City,
                    fill: false,
                    backgroundColor: 'rgba(0,255,255,0.3)',
                    borderColor: 'rgb(0,225,255)',
                    pointStyle: "triangle",
                    pointBackgroundColor: 'blue',
                    pointRadius: 3,
                    pointHoverRadius: 7,
                    //data: jsBusiness[1].Business
                    //data: [29.1, 28.3, 22.6, 25.4, 27.5, 23.4]
                    data: jsM

                }, {
                    label: "Action L",
                    //label: jsBusiness[2].City,
                    fill: false,
                    backgroundColor: 'rgba(153,50,204,0.3)',
                    borderColor: 'rgb(123,55,190)',
                    pointStyle: "rect",
                    pointBackgroundColor: 'rgb(220,20,60)',
                    pointRadius: 3,
                    pointHoverRadius: 7,
                    //data: jsBusiness[2].Business
                    //data: [16.6, 17.3, 19.2, 23.8, 12.0, 17.6]
                    data: jsL
                }]
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    fontSize: 25,
                    text: 'Analysis Result line : Pal 2D Chloride'
                },
                tooltips: {
                    mode: 'point',
                    intersect: true,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Monthly',
                            fontSize: 15
                        },
                        ticks: {
                            fontSize: 5
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: '40-50 ppm',
                            fontSize: 12
                        },
                        ticks: {
                            fontSize: 10,
                            max: 50,
                            min: 40,
                            stepSize: 5

                        }
                    }]
                },
                animation: {
                    duration: 2000
                }
            }
        });

</script>


<div>
    <h2>ST-901 AM</h2>
</div>

<script src="../Scripts/Chart.min.js"></script>

@*<script src="../Scripts/Chart.js"></script>*@

@*<canvas id="myChart"></canvas>*@
<canvas id="myChart5"></canvas>
<script>
        //Will JSON Information assigned to JavaScript array
        //Month (1 month~6 month)
        var jsTimeDate = @Html.Raw(ViewBag.jsonTimeDailyST_901AM);

        //Three cities City,Business
        var jsH = @Html.Raw(ViewBag.jsonHST_901AM);
        var jsM = @Html.Raw(ViewBag.jsonMST_901AM);
        var jsL = @Html.Raw(ViewBag.jsonLST_901AM);


        var ctx = document.getElementById("myChart5");
        var chart = new Chart(ctx, {
            type: "line",
            data: {
                //labels: ['1 month', '2 month', '3 month', '4 month', '5 month', '6 month'],
                labels: jsTimeDate,
                datasets: [{
                    label: "Action H",
                    //label: jsBusiness[0].City,

                    fill: false,
                    backgroundColor: 'rgba(255,165,0,0.3)',
                    borderColor: 'rgb(255,135,20)',
                    pointStyle: "circle",
                    pointBackgroundColor: 'rgb(0,222,0)',
                    pointRadius: 3,
                    pointHoverRadius: 7,
                    //data: jsBusiness[0].Business
                    //data: [13.1, 10.2, 13.5, 20.9, 25.2, 27.1, 31.8]
                    data: jsH
                }, {
                    label: "Action M",
                    //label: jsBusiness[1].City,
                    fill: false,
                    backgroundColor: 'rgba(0,255,255,0.3)',
                    borderColor: 'rgb(0,225,255)',
                    pointStyle: "triangle",
                    pointBackgroundColor: 'blue',
                    pointRadius: 3,
                    pointHoverRadius: 7,
                    //data: jsBusiness[1].Business
                    //data: [29.1, 28.3, 22.6, 25.4, 27.5, 23.4]
                    data: jsM

                }, {
                    label: "Action L",
                    //label: jsBusiness[2].City,
                    fill: false,
                    backgroundColor: 'rgba(153,50,204,0.3)',
                    borderColor: 'rgb(123,55,190)',
                    pointStyle: "rect",
                    pointBackgroundColor: 'rgb(220,20,60)',
                    pointRadius: 3,
                    pointHoverRadius: 7,
                    //data: jsBusiness[2].Business
                    //data: [16.6, 17.3, 19.2, 23.8, 12.0, 17.6]
                    data: jsL
                }]
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    fontSize: 25,
                    text: 'Analysis Result line : Pal 2D ST-901 AM'
                },
                tooltips: {
                    mode: 'point',
                    intersect: true,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Monthly',
                            fontSize: 15
                        },
                        ticks: {
                            fontSize: 5
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: '1.0-1.5 ml/L',
                            fontSize: 12
                        },
                        ticks: {
                            fontSize: 10,
                            max: 1.5,
                            min: 1.0,
                            stepSize: 0.1

                        }
                    }]
                },
                animation: {
                    duration: 2000
                }
            }
        });

</script>



<div>
    <h2>ST-901 BM </h2>
</div>

<script src="../Scripts/Chart.min.js"></script>

@*<script src="../Scripts/Chart.js"></script>*@

@*<canvas id="myChart"></canvas>*@
<canvas id="myChart6"></canvas>
<script>
        //Will JSON Information assigned to JavaScript array
        //Month (1 month~6 month)
        var jsTimeDate = @Html.Raw(ViewBag.jsonTimeDailyST_901BM);

        //Three cities City,Business
        var jsH = @Html.Raw(ViewBag.jsonHST_901BM);
        var jsM = @Html.Raw(ViewBag.jsonMST_901BM);
        var jsL = @Html.Raw(ViewBag.jsonLST_901BM);


        var ctx = document.getElementById("myChart6");
        var chart = new Chart(ctx, {
            type: "line",
            data: {
                //labels: ['1 month', '2 month', '3 month', '4 month', '5 month', '6 month'],
                labels: jsTimeDate,
                datasets: [{
                    label: "Action H",
                    //label: jsBusiness[0].City,

                    fill: false,
                    backgroundColor: 'rgba(255,165,0,0.3)',
                    borderColor: 'rgb(255,135,20)',
                    pointStyle: "circle",
                    pointBackgroundColor: 'rgb(0,222,0)',
                    pointRadius: 5,
                    pointHoverRadius: 10,
                    //data: jsBusiness[0].Business
                    //data: [13.1, 10.2, 13.5, 20.9, 25.2, 27.1, 31.8]
                    data: jsH
                }, {
                    label: "Action M",
                    //label: jsBusiness[1].City,
                    fill: false,
                    backgroundColor: 'rgba(0,255,255,0.3)',
                    borderColor: 'rgb(0,225,255)',
                    pointStyle: "triangle",
                    pointBackgroundColor: 'blue',
                    pointRadius: 5,
                    pointHoverRadius: 10,
                    //data: jsBusiness[1].Business
                    //data: [29.1, 28.3, 22.6, 25.4, 27.5, 23.4]
                    data: jsM

                }, {
                    label: "Action L",
                    //label: jsBusiness[2].City,
                    fill: false,
                    backgroundColor: 'rgba(153,50,204,0.3)',
                    borderColor: 'rgb(123,55,190)',
                    pointStyle: "rect",
                    pointBackgroundColor: 'rgb(220,20,60)',
                    pointRadius: 5,
                    pointHoverRadius: 10,
                    //data: jsBusiness[2].Business
                    //data: [16.6, 17.3, 19.2, 23.8, 12.0, 17.6]
                    data: jsL
                }]
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    fontSize: 25,
                    text: 'Analysis Result line : Pal 2D ST-901 BM'
                },
                tooltips: {
                    mode: 'point',
                    intersect: true,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Monthly',
                            fontSize: 15
                        },
                        ticks: {
                            fontSize: 10
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: '30-40  ml/L',
                            fontSize: 12
                        },
                        ticks: {
                            fontSize: 10,
                            max: 40,
                            min: 30,
                            stepSize: 5

                        }
                    }]
                },
                animation: {
                    duration: 2000
                }
            }
        });

</script>