@model WebApplication2.Models.Entity.PersonInfo


@{
    ViewBag.Title = "Protex 1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Protex 1</h2>
@ViewBag.Success
@using (Html.BeginForm("InsertData", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Master data maintenance</legend>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.PERSON_ID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PERSON_ID)
            @Html.ValidationMessageFor(model => model.PERSON_ID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NAME)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NAME)
            @Html.ValidationMessageFor(model => model.NAME)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.COUNTRY)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.COUNTRY)
            @Html.ValidationMessageFor(model => model.COUNTRY)
        </div>*@


        @*<div class="form-group">*@
            <div class="editor-field">
                @Html.Label("Machine Code :", htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.COUNTRY, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.COUNTRY, "", new { @class = "text-danger" })
            </div>
        <br>

        <div class="editor-field">
            @Html.Label("Part Number :", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.PERSON_ID, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PERSON_ID, "", new { @class = "text-danger" })
        </div>
        <br>

        <div class="editor-field">
            @Html.Label("Chemical Name :", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.NAME, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NAME, "", new { @class = "text-danger" })
        </div>
        <br>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}













 













@*@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group row">
            @Html.LabelFor(model => model.PERSON_ID, htmlAttributes: new { @class = "col-form-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PERSON_ID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PERSON_ID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.NAME, htmlAttributes: new { @class = "col-form-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NAME, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NAME, "", new { @class = "text-danger" })
            </div>
        </div>


    <input type="submit" value="Create" class="btn btn-default" />
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@




















@*<!DOCTYPE html>



<form>
 

        <div class="form-group row">
            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Machine Code :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm">
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Part Number :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="colFormLabel" placeholder="col-form-label">
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Chemical Name :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control form-control-lg" id="colFormLabelLg" placeholder="col-form-label-lg">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
  
</form>




<div class="form-group">
        @Html.EditorFor(model => model.COUNTRY, new { htmlAttributes = new { @class = "form-control" } })
        @Html.EditorFor(model => model.NAME, new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>*@

<!-- Material form group -->
<!-- Default form group -->

@*<td>

        @Html.ActionLink("Select", "Index", new { id = Model.PERSON_ID })
    </td>*@

@*</head>
    <body>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            <table cellpadding="0" cellspacing="0">
                <tr>
                    <th colspan="2" align="center">Protex 1</th>
                </tr>



                <tr>
                    <td>PersonId : </td>
                    <td>


                        @Html.TextBoxFor(m => m.NAME, new { @class = "form-group", id = "my-textbox" })<br>


                    </td>

                </tr>

                <tr>
                    <td>Name : </td>
                    <td>
                        @Html.TextBoxFor(m => m.PERSON_ID, new { @class = "col-md-offset-2 col-md-10", @placeholder = "Placeholder Here" })



                    </td>
                </tr>
                <tr>

                    <td>Name : </td>
                    <td>

                        @Html.TextBoxFor(m => m.COUNTRY)<br>

                    </td>
                </tr>

                <tr>
                    <td></td>
                </tr>

            </table>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Register" />
                </div>
            </div>
        }*@



